@{
    string email = string.Empty;
    string password = string.Empty;
    string ReturnUrl = ViewData["ReturnUrl"] as string;
}

<link rel="stylesheet" href="~/css/login.css">

<form id="loginForm" asp-action="Login" method="post">
    <h1>Login</h1>
    <div class="text-danger" asp-validation-summary="All"></div>

    <input hidden asp-for="@ReturnUrl" type="text">
    <div>
        <label asp-for="@email">Email</label>
        <input asp-for="@email" type="email">
    </div>
    <div>
        <label asp-for="@password">Password</label>
        <input asp-for="@password" type="password">
    </div>
    <br>
    <button type="submit" class="submitbtn">Login</button>
</form>