@{
    string username = string.Empty;
    string email = string.Empty;
    string password = string.Empty;
}

<link rel="stylesheet" href="~/css/login.css">

<form id="loginForm" asp-action="Register" method="post">
    <h1>Register</h1>
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="@username">Username</label>
        <input asp-for="@username" type="text">
    </div>
    <div class="form-group">
        <label asp-for="@email">Email</label>
        <input asp-for="@email" type="email">
    </div>
    <div class="form-group">
        <label asp-for="@password">Password</label>
        <input asp-for="@password" type="password">
    </div>
    <br>
    <button type="submit" class="submitbtn">Register</button>
</form>