@{
  string name = string.Empty;
  string symbol = string.Empty;
  long marketCap = 0;
  IFormFile stockImage = default;
}

<h1>Create Stock</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
  <div class="text-danger" asp-validation-summary="All"></div>

  <div class="form-group">
    <label asp-for="@name">Name</label>
    <input asp-for="@name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@symbol">Symbol</label>
    <input asp-for="@symbol" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@marketCap">Market Capacity</label>
    <input asp-for="@marketCap" value=@marketCap type="number" class="form-control">
  </div>
  <div class="mb-3">
    <label asp-for="@stockImage" class="form-label">Import stock image</label>
    <input asp-for="@stockImage" class="form-control" type="file">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>