@model IEnumerable<StockOHLC>

<table id="stock_table" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Starting At</th>
                <th scope="col">Ending At</th>
                <th scope="col">Open</th>
                <th scope="col">Close</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Average</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr style="cursor: pointer">
                    <td>@stock.StartingAtDateTime</td>
                    <td>@stock.EndingAtDateTime</td>
                    <td>@stock.Open $</td>
                    <td>@stock.Close $</td>
                    <td>@stock.High $</td>
                    <td>@stock.Low $</td>
                    <td>@stock.Average $</td>
                </tr>
            }
        </tbody>
    </table>