@model List<string>

@{

  var errors = Model;

  if (Model is null) {
    errors = new List<string>();
  }
  
  string name = string.Empty;
  string symbol = string.Empty;
  long marketCap = 0;
}

<h1>Create Stock</h1>

@foreach (string error in errors)
{
  <span>@error</span>
}

<form asp-action="Create" method="post">
  <div class="form-group">
    <label asp-for="@name">Name</label>
    <input asp-for="@name" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@symbol">Symbol</label>
    <input asp-for="@symbol" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label asp-for="@marketCap">Market Capacity</label>
    <input asp-for="@marketCap" value=@marketCap type="number" class="form-control">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>