@{
    string email = string.Empty;
    string password = string.Empty;
    string ReturnUrl = ViewData["ReturnUrl"] as string;
}

<h1>Login</h1>

<span class="text-danger">@ViewData["Error"]</span>

<form asp-action="Login" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>

    <input hidden asp-for="@ReturnUrl" type="text">
    <div class="form-group">
        <label asp-for="@email">Email</label>
        <input asp-for="@email" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="@password">Password</label>
        <input asp-for="@password" type="password" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
</form>